.todolist {
  max-width: 1400px;
  padding: 5px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0 10px;
  margin-top: 10px;
  max-width: 500px;
  min-width: 320px;
}

.addTodo {
  margin-top: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;

  textarea {
    width: 100%;
    max-height: 500px;
    resize: vertical;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    white-space: pre-line;
  }

  .addButton {
    width: 100%;
    border: none;
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.filters {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 18px;

  .filter {
    position: relative;
    cursor: pointer;
  }

  .active {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: black;
      position: absolute;
      bottom: 0;
    }
  }
}
